Source: ros-jazzy-clips-vendor
Section: misc
Priority: optional
Maintainer: Tarik Viehmann <viehmann@kbsg.rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-vendor-package, unzip, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-clips-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ament-cmake-vendor-package, unzip, ros-jazzy-ros-workspace
Description: Vendor package for the CLIPS rule based production system
